:root {
    /* COLORS */
    --key-out-black: #000; /* black background for Luma key. Will be transparent */
    --prevent-key-out-black: #222; /* needs to be slightly above black to not get keyed out */

    --donation-header-background: #444;

    --name-text-color: var(--prevent-key-out-black);
    --name-background-color: #ffa500;

    --message-text-color: #fff;
    --message-background-color: var(--prevent-key-out-black);

    /* FONT */
    --name-font: Avenir Next;
    --name-font-size: 30px;
    --name-font-weight: 700;

    --message-font: Avenir Next;
    --message-font-size: 27px;
    --message-font-weight: 600;

    --message-inline-icon-size: 28px;

    --donation-header-font-size: 18px;

    --donation-badge-font: Avenir Next;
    --donation-badge-font-size: 20px;

    /* MISC */
    --donation-header-text: "SUPERCHAT"; /*needs to be in quotes*/
    --message-box-border-radius: 6px;
    --message-name-border-radius: 6px;
    --message-min-height: 107px;
    --message-min-width: 500px;
}

.twitch-overlay .root {
    height: calc(100% - 400px);
    margin-top: 400px;
}

.twitch-overlay .right-column--beside .channel-root__right-column {
    width: calc(100vw - 240px);
}

.twitch-overlay
    .channel-root__right-column.channel-root__right-column--expanded.tw-border-l.tw-c-background-base.tw-flex.tw-flex-column.tw-flex-grow-0.tw-flex-nowrap.tw-flex-shrink-0.tw-full-height.tw-z-above.channel-root__right-column--modified {
    width: 100vw;
    position: unset;
    transform: none;
}

.twitch-overlay
    .tw-flex.tw-flex-column.tw-flex-grow-1.tw-full-height.tw-full-width.tw-overflow-hidden.tw-relative.tw-z-default.twilight-main.hide,
.twitch-overlay
    .side-nav.side-nav--collapsed.tw-c-background-alt.tw-flex-shrink-0.tw-full-height.tw-z-abov.hide,
.twitch-overlay
    .channel-root.channel-root--watch-chat.channel-root--live.channel-root--watch.channel-root--unanimated.hide {
    display: none !important;
}

.twitch-overlay
    .chat-shell.chat-shell__expanded.tw-full-height.chat-shell--modified {
    height: 55vh !important;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.twitch-overlay .mention-fragment,
.twitch-overlay .mention-fragment.mention-fragment--recipient {
    background-color: var(--message-background-color);
}

.twitch-overlay div[data-a-target="chat-line-message"] {
    cursor: pointer;
}

.twitch-overlay .msg-shown {
    /* Mark messages in the chat section */
    background-color: #ffa500;
    color: var(--key-out-black);
}

.twitch-overlay .btn-clear {
    position: absolute;
    z-index: 99999;
    bottom: 35vh;
    right: 20px;
    font-size: 30px;
    background-color: red;
    padding: 4px;
    border: 1px solid;
    border-radius: 4px;
}

.twitch-overlay .animations {
    z-index: 99999;
    position: absolute;
    bottom: 12px;
    right: 150px;
}

.twitch-overlay .animations.animations-title {
    padding-right: 8px;
}

.twitch-overlay .btn-animation {
    background-color: #333;
    padding: 4px;
    border-radius: 4px;
    margin-right: 8px;
}

.twitch-overlay .btn-animation.active {
    background-color: #ffa500;
}

.twitch-overlay highlight-chat {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 99999999999;
    overflow: hidden;
    margin: 0px;
    padding: 40px 50px 40px 100px;
    background-color: var(--key-out-black);
    color: var(--message-text-color);
    font-size: 30px;
}

.twitch-overlay .hl-c-cont {
    position: relative;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s all cubic-bezier(0.25, 0.25, 0.105, 1.2);
}

.twitch-overlay .hl-c-cont.top {
    transform: translateY(-600px);
}

.twitch-overlay .hl-c-cont.bottom {
    transform: translateY(600px);
}

.twitch-overlay .hl-c-cont.left {
    transform: translateX(-1600px);
}

.twitch-overlay .hl-c-cont.right {
    transform: translateX(1600px);
}

.twitch-overlay
    .hl-c-cont
    img.chat-image.chat-line__message--emote.tw-inline-block {
    /*size of icons in the message*/
    height: var(--message-inline-icon-size);
}

.twitch-overlay .hl-name {
    font-family: var(--name-font);
    font-size: var(--name-font-size);
    font-weight: var(--name-font-weight);
    position: absolute;
    top: -19px;
    left: 40px;
    background: var(--name-background-color);
    color: var(--name-text-color);
    padding: 10px;
    border-radius: var(--message-name-border-radius);
    transform: rotate(-0deg);
    z-index: 1;
}

.twitch-overlay .hl-message {
    font-family: var(--message-font);
    font-size: var(--message-font-size);
    font-weight: var(--message-font-weight);
    position: absolute;
    min-height: var(--message-min-height);
    min-width: var(--message-min-width);
    padding: 30px 30px 20px 50px;
    border-radius: var(--message-box-border-radius);
    overflow: hidden;
    background-color: var(--message-background-color);
}

.twitch-overlay .donation-wrapper {
    position: relative;
    min-height: var(--message-min-height);
    min-width: var(--message-min-width);
}

.twitch-overlay .donation-badge {
    font-family: var(--donation-badge-font);
    font-size: var(--donation-badge-font-size);
    position: absolute;
    left: -25px;
    bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.twitch-overlay .donation-badge img {
    height: 50px;
    width: 50px;
}

.twitch-overlay .donation-header::before {
    --donation-header-spaceing: 8px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    font-size: var(--donation-header-font-size);
    text-align: right;
    background-color: var(--donation-header-background);
    display: block;
    content: var(--donation-header-text);
    color: var(--message-text-color);
    padding: 0 var(--donation-header-spaceing);
    width: calc(100% - (var(--donation-header-spaceing) * 2));
}
